---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: haskell
    tag: '8'
inputs:
  - name: constellation-git
  - name: quorum-pipeline-git
outputs:
  - name: build-constellation-output
params:
  CONSTELLATION_SRC_DIR: constellation-git
  OUTPUT_DIR: build-constellation-output
run:
  path: quorum-pipeline-git/tasks/build-constellation-task
